* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #252525;
}
body {
  margin: 0;
  padding: 0;
  background-color: #dde9ec;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.calculator {
  width: 440px;
  border: 4px solid white;
  background-color: #efefef;
  box-shadow: 5px 5px 20px rgba(37, 37, 37, 0.1);
}
.calculator .row {
  display: flex;
  flex-basis: 100%;
}
.calculator .display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 100px;
  background-color: #252525;
  color: white;
  padding: 20px 10px 15px;
  word-wrap: break-word;
  word-break: break-all;
}
.calculator .display .previous-operand,
.calculator .display .current-operand {
  color: white;
}
.calculator .display .previous-operand {
  font-size: 20px;
}
button {
  cursor: pointer;
  outline: none;
  border: 5px solid #efefef;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-basis: 25%;
  border-radius: 100px;
}
button.two-col {
  flex-basis: 50%;
}
button.operation {
  background-color: #00bcd4;
  color: white;
  font-weight: 500;
}
button.operation:hover {
  background-color: #008fa1;
}
button.number {
  font-weight: 500;
}
button.delete,
button.all-clear,
button.equals {
  font-weight: 300;
  background-color: #e2e2e2;
}
button.delete:hover,
button.all-clear:hover,
button.equals:hover {
  background-color: #c9c9c9;
}
button:hover {
  background-color: #bcd4da;
}
